

p{
    font-size: x-large;
    color: #24272B;
    font-style: italic;
    font-weight: 700;
   
    background-color: rgba(6, 148, 243, 0.233);
    border-radius: 20px;
    padding: 8px;
    background-color: maroon;

  
}

h1{
    color: #9A74CC;
    
    font-size: 3em;
    text-align: left;
    font-weight: 600;
    
    font-family: cursive;
    text-transform: uppercase;
    background-color: lawngreen;
}


