body{
    background-color: rgb(0, 0, 0);
    color: lightcyan;
    margin: 1rem;
}

p{
    font-size: 1.5rem;
    padding-left: 1rem;
}
h1{
    padding-left: 1rem;
}

h2{
    padding-left: 1rem;
}


xmp{
    display: inline-block;
    border: 1px,solid,white;
}
